.p-dropdown-panel {
  background-color: #fff !important;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.p-dropdown {
  width: 100% !important;
}



ul.list-group {
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}