<div class="d-flex min-vh-100">
    <!-- Sidebar with transition -->
    <div class="sidebar bg-dark text-white" [class.collapsed]="!sidebarVisible">
        @if (sidebarVisible) {
            <h5>Sidebar</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="./newCustomer">New Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="./showCustomer">Show Customer</a>
                </li>
            </ul>
        }
    </div>

    <!-- Main content -->
    <div class="flex-grow-1 bg-light p-3">
        <button class="btn btn-primary mb-3" (click)="toggleSidebar()">
            {{ sidebarVisible ? 'Hide Sidebar' : 'Show Sidebar' }}
        </button>

        <h3>CUSTOMER</h3>
        <app-spinner></app-spinner>
        <router-outlet></router-outlet>
    </div>
</div>