<<<<<<< HEAD
.edit-btn{
  cursor: pointer;
}
.form-container{
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #d08bbb, #896697);
    
}

=======
>>>>>>> ee02f026a9b0c200af79a1e43519f5480cb861c3
