<h1>All Customers:</h1>
<form [formGroup]="customerForm"  class="form-container">
  
</form>
<div class="table-responsive mt-4">
  <table
    class="table table-bordered table-striped table-hover text-white bg-dark"
  >
    <thead class="table-light text-dark">
      <tr>
        <th>SL</th>
        <th>Name</th>
        <th>customerCategoryName</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Whatsapp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers; let i = index">
        <td>{{ i + 1 }}</td>
        @if(customer.status?.active){
        <td style="color: green">{{ customer.customerName }}</td>
        } @else {
        <td style="color: red">{{ customer.customerName }}</td>
        }
        <td>{{ customer.category?.customerCategoryName }}</td>
        <td>{{ customer.contact?.address }}</td>
        <td>{{ customer.contact?.email }}</td>
        <td>{{ customer.contact?.phone }}</td>
        @if(!customer.contact?.whatsapp){
        <td>?</td>
        }@else{
        <td>{{ customer.contact?.whatsapp }}</td>
        }
        <td>
          <a routerLink="#" (click)="edit(customer)" class="edit-btn">
            <mat-icon matPrefix>edit</mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

@if (isDevMode) {
<div id="devlopment-div">
  <pre>
    {{ customers | json }}
  </pre>
</div>
}
